{% extends "layouts/app.html" %}

{% block content %}
    <div class="container p-5 flex">
        {% for user in users %}
            <div class="bg-white w-64 m-4">
                <div>
                    <a href="/{{ user.username }}">
                        <img src="/avatars/{{user.avatar}}" alt="">
                    </a>
                </div>
                <div class="p-3">
                    <div>
                        <a href="/{{ user.username }}">
                            {{ user.username }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}